<header>
    <div class="header-left">
        <a routerLink="/"><img src="/logobookhub.png" alt="logo bookhub"></a>
    </div>
    
    <nav class="header-nav desktop-nav">
         <!-- TODO : ajouter les liens bibliothécaire et administrateur ainsique  @if pour 
          les conditions d'affichage en fonction de la session utilisateur -->
        <a routerLink="/catalogue" routerLinkActive="active" i18n="lien de navigation vers le catalogue de livres@@catalog.navLink" >Catalogue</a>
        <a routerLink="/mesemprunts" routerLinkActive="active" i18n="lien de navigation vers les emprunts@@loan.navLink">Mes emprunts</a>
        <a routerLink="/reservations" routerLinkActive="active" i18n="lien de navigation vers les réservation@@reservation.navLink">Mes réservations</a>
    </nav>

        <!-- BURGER -->
    <button
      class="burger"
      (click)="toggleMenu()"
      aria-label="Menu"
    >
      ☰
    </button>

    <div class="header-right">
        @if (router.url !=='/login' && !sessionService.currentUser()) {
        <!-- TODO : ajouter les @if pour les conditions d'affichage en fonction de la session utilisateur -->
        <button class="login-btn" routerLink="/login" i18n="bouton de navigation vers la page de login@@login.button.navLink">Se connecter</button>
        }
        @if (sessionService.currentUser(); as user) {
            <button class="profile-btn" routerLink="/profile" >{{ user.firstName }}</button>
            <button class="logout-btn" i18n="bouton de déconnexion@@logout.button" (click)="logout()">Se déconnecter</button>
        }
    </div>
</header>

<!-- MENU MOBILE -->
<nav class="mobile-menu" [class.open]="menuOpen">

  <a routerLink="/catalogue" (click)="closeMenu()" i18n="lien de navigation vers le catalogue de livres@@catalog.navLink" >Catalogue</a>
  <a routerLink="/mesemprunts" (click)="closeMenu()" i18n="lien de navigation vers les emprunts@@loan.navLink">Mes emprunts</a>
  <a routerLink="/reservations" (click)="closeMenu()" i18n="lien de navigation vers les réservation@@reservation.navLink">Mes réservations</a>

</nav>
